#Смотри Readme
API_ID=
API_HASH= 

#Вписываем токены от ботов через запятую без пробелов
BOT_TOKENS=

#Откуда
SRC_FILENAME=users.txt

#Куда
RESULT_FILENAME=users_info.txt

#Тип вывода
#оставить пустым(Дефолт) - Username:string Bio:string
#id_name_username_bio - ID:int Name:String Username:string Bio:string
#raw - сырые объекты которые возвращает API (подсматривать сюда для составления команды ниже)
#full:full_user.about - Пример команды для единичного поля из объектов в raw (синатксис "объект:аттрибут.аттрибут"), через запятую можно указывать следующую команду
#OUTPUT_TYPE=full:full_user.about,info:id

#Таймаут запроса информации по пользователю
TIMEOUT_LIMIT=60

#Время перерыва между запромами
SLEEP_TIME=5

#Опции
#bio - фильтр наличия описания аккаунта (о себе)
#channel - фильтр наличия личного канала
#photo - фильтр наличия фотографии (из-за настроек безопасности аккаунта не всегда может отразить наличие фото)
#bio_fuzzy - фильтр наличия описания и fuzzy поиск по описанию (регулировать минимальный порог ниже в RATIO)
#bio_contains - фильтр наличия описания и присутствия слов в нём
#или оставьте пустое место после знака "=" чтоб не применять фильтры
SEARCH_STRATEGY=bio,channel

#Искомое слово для contains и fuzzy поиска
NEEDLE=реклама

#для fuzzy
RATIO=20

#Печать ошибок в файл выгрузки (по умолчанию выключена)
#PRINT_ERRORS=True

#Проверка на первый символ в строке, если не находит его - пропускает строчку (по умолчанию выключена)
#NEW_LINE_SIGN=@
