#Смотри Readme
API_ID=
API_HASH= 

#Вписываем токены от ботов через запятую без пробелов
BOT_TOKENS=

#Откуда
SRC_FILENAME=users.txt

#Куда
RESULT_FILENAME=users_info.txt

#Тип вывода
OUTPUT_TYPE=username_bio

#Таймаут запроса информации по пользователю
TIMEOUT_LIMIT=60

#Время перерыва между запромами
SLEEP_TIME=10

#Опции
#channel - фильтр по наличию описания + канал
#channelAndPhoto - фильтр по наличию описания + канал + фото
#fuzzy - фильтр по наличию описания + fuzzy фильтр по описанию
#contains - фильтр по наличию описания и слов в нём
#no - нет фильтра
SEARCH_STRATEGY=channel

NEEDLE=реклама

#для fuzzy
RATIO=20
