API_ID=
API_HASH= 

#Вписываем токены от ботов через запятую без пробелов
BOT_TOKENS=

SRC_FILENAME=
RESULT_FILENAME=

TIMEOUT_LIMIT=60
SLEEP_TIME=10

#Опции
#channel - фильтр по наличию описания + канал
#channelAndPhoto - фильтр по наличию описания + канал + фото
#fuzzy - фильтр по наличию описания + fuzzy фильтр по описанию
#contains - фильтр по наличию описания и слов в нём
#no - нет фильтра
SEARCH_STRATEGY=channel

NEEDLE=реклама
RATIO=20
